@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
    scroll-behavior: smooth;
}

body {
    /*min-width: 320;*/
    margin: auto;
    background-color: #bfbfbf;
}

h1{
    font-size: 32px;
    font-family: 'Oswald', sans-serif;
    color: #1b0914;
    line-height: 1.4375;
    text-align: left;
}

h2{
    text-align: center;
    font-size: 34px;
    font-family: 'Oswald',sans-serif;
    color: #1b0914;
    line-height: 1.1;
    font-weight: 500;
    font-style: normal;
    margin: 0 0 0 0;
}

h3{
    font-size: 26px;
    font-family: 'Oswald',sans-serif;
    line-height: 1.5;
    font-weight: 600;
    letter-spacing: 0;
    font-style: normal;
    color: #1b0914;
}

p{
    font-size: 20px;
    font-family: 'Laila', serif;
    line-height: 1.5;
    font-style: normal;
    color: #6c223a;
    letter-spacing: 0;
    font-weight: normal;
}
/**/

/*Fonts Time*/
.start-point h1{
    font-size: 32px;
    font-family: 'Times New Roman', serif;
    color: #1b0914;
    line-height: 1.4375;
    text-align: center;
    font-weight: bold;
}

.start-point {

}

.start-point {

}

.start-point p{
    font-size: 18px;
    font-family: 'Times New Roman', serif;
    color: #1b0914;
    line-height: 1.5;
    text-align: left;
}



/* Navbar */
aside > nav > .listing > ul{
    padding-bottom:300%;
}

aside {
    position:fixed;
    width:200px;
}

/**/



/*Header text block*/
.hero-text {
    font-size: 42px;
    font-family: 'Oswald', sans-serif;
    color: #ffffff;
    font-weight: 500;
    line-height: inherit;
    font-style: normal;
}
/**/

main{
    
    padding-left:200px;
}
.card{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 10px;
    min-height: 760px;
    
}

/*Start-point block*/

.start-point img{
    max-width: 800px;
    margin:auto;
}

.start-point {
    background-color: #ffffff;
}

/**/
.media-era img{
    max-width: 800px;
    margin:auto;
}

.media-era{
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);  
}

.media-era h1{
    font-size: 40px;
    font-family: 'Pacifico', cursive;
    color: #585858;
    font-weight: 300;
    font-style: normal;
}

.media-era p{
    font-size: 20px;
    font-family: 'Lobster', cursive;
    color: #ffffff;
    font-weight: 200;
    font-style: normal;
}

/**/

.web-2{

}


/*Concept block*/

.concept > .concept-block {
    padding-left: 24px;
    padding-right: 24px;
}

.concept {
    align-items: center;
    padding-top: 85px;
    padding-bottom: 90px;
}

.concept > .concept-block > .concept-button > .concept-button-block {
    align-items: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.concept > .concept-block > .concept-button {
    margin-top: 50px;
}

@media (min-width: 770px) {
    .concept > .concept-block {
        padding-left: 100px;
        padding-right: 100px;
        margin-left: auto;
        margin-right: auto;
    }

    .concept {
        align-items: center;
        padding-top: 85px;
        padding-bottom: 95px;
    }
}

@media (min-width: 990px) {
    .concept > .concept-block {
        padding-left: 100px;
        padding-right: 100px;
    }

    .concept {
        align-items: center;
        padding-top: 85px;
        padding-bottom: 100px;
    }
}

@media (min-width: 1280px) {
    .concept > .concept-block {
        max-width: 800px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
    }
}
/**/

/*Footer block*/
@media (min-width: 770px){
    .footer {
        display: grid;
        grid-template-columns: repeat(5,1fr);
    }
    .footer-list {
        margin-top: 0px;
    }
    .footer-list a{
        text-align: left;
        margin: auto;
    }

}
.footer-list a{
    color: rgb(255, 255, 255);
    font-size: 21px;
    display: table;
    text-decoration:none;
    text-align: center;
    margin: auto;
    margin-bottom: 15px;
}
.footer {
    display: grid;
    background-color: #1b0914;
    padding: 20px 24px 30px;
}
.footer h1{
    color: rgb(255, 255, 255);
    text-align: center;

}
.footer-list {
    text-decoration:none;
    margin-top: 50px;
    padding: 0px 15px;
}
.footer-email {
    border-top-width: 54px;
    padding: 0px 15px;
    margin-top: 50px;
    margin: auto;
}
.footer-email p{
    color: #C2C2C2;
    text-align: center;
}
.footer-email input{
    padding: 15px 26px;
    text-align: center;
    background-color: #ffffff24;
    border: 0px;
    width: 100%;
}
.footer-email-button {
    margin-top: 20px;
}
.footer-email button{
    margin: 35px 0px 0px;
    width: 100%;
}